body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.warning{
    
    font-size: 15px;
    color:red;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

h1{
    border-color: rgb(117, 201, 166);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    width:300px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top : 0px;
    text-align: center;
}

div{
    width:500px;
    margin-left: auto;
    margin-right: auto;

    border-width: 9px;
    border-radius: 10px;
    background-color: rgb(211, 231, 236);
    padding: 20px;
    box-shadow: 10px 10px 15px lightblue;
}

div p{
    margin:0px;
    padding-bottom: 15px;
}

.copy-text{
    width:250px;
    height: 30px;
    border-radius: 5px;
}

.input-type{
    width:250px;
    height: 30px;
    border-radius: 5px;
}

.input-type:focus {
    padding:0px;
    border:5px;
    border-color: #007bff;
    border-style: solid;
}

.copy-text-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



  
button{
    border-color: #007bff;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;

    font-size: 1.3rem;
    font-family: Arial;
    color:#007bff;
}

button:hover {
    background-color: #007bff;
    color:white;
}


img{
    width: 30px;
    background: white;
}