body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgb(211, 231, 236);
    margin-top: 0px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

a:link {
    text-decoration: none;
    /* color: rgb(255, 255, 255); */ /* Home page link File Share */
    
}

.file-send-recive {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(248, 248, 248);
}

.container {
    background-color: rgb(211, 231, 236);
    margin: auto;
    margin-bottom: 40px;

    border-radius: 15px;
    width: 60%;
    padding: 10px;

    text-align: center;
    box-shadow: 10px 10px 15px lightblue;
}


.mygrid {
    background-color: rgb(211, 231, 236);
    
    margin: auto;
    margin-bottom: 20px;

    border-radius: 15px;
    width: 20%;
    padding: 10px;

    text-align: center;
    box-shadow: 10px 10px 15px lightblue;
}

button {
    border-color: #007bff;
    border-radius: 5px;

    padding: 5px;

    font-size: 1.5rem;
    color: #007bff;
}

button:hover {
    background-color: #007bff;
    color: white;
}

img {
    border: 2px;
    border-color: rgba(187, 187, 233, 0.973);
    border-style: solid;
    border-radius: 4px;
    width: 15%;
    
}

img:hover {
    border-width: 2.5px;
    border-color: rgba(166, 166, 233, 0.973);
}

img:active {
    /* when click */
    border-color: rgba(10, 10, 207, 0.973);
}


.downolad {
    /* for download icon */
    width: 10%;
    border-radius: 5%;
}

.downolad:active {
    /* for download icon when click */
    transform: translateY(4px);
}

.warning {
    margin-top: 1px;
    font-size: 17px;
    color: red;
}

input {
    border-radius: 5px;
    border-color: #ebdede;
    padding: 5px;

    text-align: center;
    font-size: 20px;
}

input:active {
    transform: translateY(4px);
}