<footer class="footer">
  <div class="container2">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">--</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">--</a></li>
          <li><a href="#">--</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://github.com/pd28CSE" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://bd.linkedin.com/in/partho-debnath-b8632a201" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.facebook.com/partho.debnath.142" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="develope-by">
    <h2 id="creator">Developed By: Partho Debnath </h2>
  </div>

</footer>