{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>File Share</title>
</head>

<body>

    <h1>
        <a href="{% url 'fileshare:index' %}">File Share</a>
    </h1>

    <div>
        <div class="container">
            <h1>Send File</h1>
            {% if fileid %}
            <div class="mygrid">
                <input type="text" id="filekey" value="{{ fileid }}"><br><br>
                <img src="{% static 'images/copy.png' %}" onclick="myFunction()" alt="Copy the Key.">
            </div>
            <div class="mygrid">
                <span>{{ qrcode | safe }}</span> <!-- for qr code  -->
            </div>
                <span>{{ key_expired_message }}</span>
            {% else %}
            <form method="post" action="{% url 'fileshare:index' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="files" required> <br> <br>
                <button type="submit">Send</button>
            </form>
            {% endif %}
        </div>

        <div class="container">
            <h1>Receive File</h1>
            {% if userfile %}
            <a href="{{userfile.file.url}}" download="{{userfile.file}}">
                <img class="downolad" src="{% static 'images/download.png' %}" alt="Download Now.">
            </a>


            {% else %}
            <form method="get" action="{% url 'fileshare:receive' %}">
                <input class="input-type" name="fileid" placeholder="Enter The Key" required> <br> <br>
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </p>
                {% endfor %}
                {% endif %}
                <button type="submit">Receive</button>
            </form>
            {% endif %}

        </div>
    </div>



</body>

<script src="{% static 'js/myjs.js' %}"></script>

</html>