<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="content">
        <h2>Send File</h2>
        {% if fileid %}
            <h3>{{ fileid }}</h3>

        {% else %}
            <form method="post" action="{% url 'fileshare:index' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="files" required> <br>
                <button type="submit">Send</button>
            </form>
        {% endif %}
    </div>


    <div class="content">
        <h2>Recive File</h2>
        {% if userfile %}
            <a href="{{userfile.file.url}}" download="abc">
            <img src="{{ userfile.file | title}}" alt="{{ userfile.file | title}}" width="104" height="142">

        {% else %}
            <form method="get" action="{% url 'fileshare:reive' %}">
                <input type="text" name="fileid" placeholder="Enter The Key" required> <br>
                <button type="submit">Recive</button>
            </form>
        {% endif %}
    </div>

</body>
</html>